#AlexandrSokolov private account on github.com
Host github.com
	HostName github.com
	User AlexandrSokolov
	IdentityFile ~/.ssh/id_rsa_github


#alexandr.sokolov BrandMaker account
Host gitlab.dev.brandmaker.com
	HostName gitlab.dev.brandmaker.com
	User alexandr.sokolov
	IdentityFile ~/.ssh/id_rsa_gitlab